@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.woff2") format("woff2"),
    url("Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Poppins";
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f111a;
}

#main-div {
  background-color: rgb(191, 211, 223);
  box-shadow: 0px 0px 80px 30px rgba(153, 20, 230, 0.19);

  width: 320px;
  border-radius: 15px;
  padding: 20px;
  margin-inline: auto;
  margin-top: 50px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.head {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}

#timer {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}

#userText {
  width: 100%;
  border: 2px solid #3f2b82;
  border-radius: 5px;
  height: 200px;
  font-size: x-large;
}

#startbtn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3f2b82;
}

#startbtn:hover {
  background-color: white;
  color: #3f2b82;
  border: 3px solid #3f2b82;
}

#lapbtn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #3f2b82;
}

#lapbtn:hover {
  background-color: white;
  color: #3f2b82;
  border: 3px solid #3f2b82;
}

#result {
  font-size: x-large;
  width: 100%;
  word-wrap: normal;
  font-family: monospace;
}

#author {
  color: #3f2b82;
}

#result-div {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

#laps {
  text-align: center;
}
